.body {
  /* width: 100%; */
  /* height: 100%; */
  background-color: #e8ebec;
  padding: 50px;
}
.container {
  width: 1188px;
  height: 427px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #d4d6d6;
  border-radius: 10px;
  margin: auto;
}
.container img {
  width: 397px;
  height: 265px;
  border-radius: 12px;
}
.details {
  display: flex;
  align-items: center;
}
.info {
  margin-right: 50px;
  width: 100%;
}
.info p {
  font-size: 20px;
  font-weight: 400;
  color: #282828;
}
.info span {
  font-size: 20px;
  color: #7d7d7d;
  margin-left: 30px;
}
.reserve {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reserve p {
  color: #009eca;
  font-weight: bold;
  font-size: 28px;
}
.reserve span {
  font-size: 14px;
  color: #282828;
}
.reserve button {
  width: 204px;
  height: 56px;
  background-color: #28a745;
  color: #fff;
  font-family: inherit;
  font-size: 24px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin-left: 50px;
}
.moreDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 10px;
}
.moreDetails div {
  color: #444444;
  height: 60px;
  width: 500px;
  border-left: 1px solid #7d7d7d;
}
.moreDetails span {
  margin: 0 8px 0 0px;
  font-size: 18px;
}
.moreDetails p{
  color: #000000;
  font-size: 16px;
}