.container {
  width: 856px;
  margin: auto;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #00000026;
}
.container input {
    width: 190px;
  font-family: inherit;
  outline: none;
  margin-right: 5px;
  padding: 4px 0px;
  border: 0;
  border-left: 1px solid #00000026;
}
.container input::placeholder{
    margin-top: -10px;
}

.container button {
  width: 190px;
  font-family: inherit;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 16px;
  background: #28a745;
  font-weight: 600;
}
.icon{
  margin-right: 5px;
  height: 15px;
  margin-bottom: -4px;
}
